.form-control {
    font-family: "Titillium Web", sans-serif;
    color: #42454a;
    padding: 5px 0px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #42454a;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    font-size: 1.1em;
    margin-bottom: 21px;


    &:focus {
        outline: none;
        border-bottom: 1px solid #207b88;

    }
}

table a {
    font-family: "Titillium Web", sans-serif;
    color: black;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    margin-right: 20px;
    text-transform: capitalize;
    font-size: 0.9rem;
    text-decoration: none;

    &:hover {
        color: #207b88;
    }
}

.btn {
    /* #008dff; */
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color: #42454a;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add this line */

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #207b88;
    }
}

.flag {
    width: 75%;
}

.form-label {
    display: none;
}

.simbolo {
    color: #207b88;
    font-size: 50px;
    margin-left: 15px;
}

